/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f9;
}

/* Navbar styles */
nav {
    background-color: #333;
    padding: 1em;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 475px;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Section styles */
section {
    padding: 2em 1em;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

section#home {
    background-color: #333;
    color: #fff;
    padding: 4em 1em;
}

body #projects a {
    color: blue;
    text-decoration: none;
}

body #projects a:hover {
    text-decoration: underline;
}

body #projects a:visited {
   color: purple;
}

h2 {
    margin-bottom: 0.5em;
    font-size: 2em;
    color: #333;
}

h1 {
    font-size: 2.5em;
}

p {
    margin: 1em 0;
}

ul {
    list-style-type: none;
}

/* Project styles */
.project {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f4f4f9;
}

body.dark-mode nav {
    background-color: #444;
}

#toggleDarkMode {
    font-size: 15px; 
    line-height: 10px; 
    padding: 15px; 
    border-radius: 20px;
    margin-left: auto;
}

#toggleDarkMode:hover,
body.dark-mode #toggleDarkMode:hover {
    background-color: #ddd;
}

body.dark-mode #toggleDarkMode {
    background-color: #fff;
    color: #333;
}

body.dark-mode .project {
    background: #333;
    color: #f4f4f9;
    border-color: #666;
}

body.dark-mode h2 {
    color: #FFF;
}

body.dark-mode #projects a {
    color: #f1f18b;
    text-decoration: none;
}

body.dark-mode #projects a:hover {
    text-decoration: underline;
}

body.dark-mode #projects a:visited {
    color: #dadab9;
}